</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/sb/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/sb/js/bootstrap.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="/sb/js/plugins/morris/raphael.min.js"></script>
<script src="/sb/js/plugins/morris/morris.min.js"></script>
<script src="/sb/js/plugins/morris/morris-data.js"></script>

</body>

</html>